<h1>Formulario</h1>
<form (ngSubmit)="onRegister()" #myForm="ngForm">
  <div class="input-group">
    <label for="name">Nombre</label>
    <input type="text" required name="name" id="name" [(ngModel)]="register.name">
    <p>Mensajes de error</p>

    <label for="email">Nombre</label>
    <input type="email" required name="email" id="email" [(ngModel)]="register.email">
    <p>Mensajes de error</p>

    <label for="password">Nombre</label>
    <input type="password" required name="password" id="password" [(ngModel)]="register.password">
    <p>Mensajes de error</p>
  </div>
  <button [disabled]="myForm.invalid" type="submit">Registrar</button>
</form>

<h1>ngClass mgStyle</h1>
<label >Nombre</label>
<input type="text" required #nameInput4="ngModel" [(ngModel)]="name">
<hr class="line-error" [ngClass]="{
  'valid':nameInput4.valid,
  'invalid':nameInput4.invalid
}">
<p [style.font-style]="nameInput3.invalid ? 'italic':'normal'">texto 1 2 3</p>


<h1>estilos</h1>
<input type="text" required #nameInput2="ngModel" [(ngModel)]="name">
<p class="message-error" [class.invalid]="nameInput2.invalid">el campo es requerido</p>

<label >Nombre</label>
<input type="text" required #nameInput3="ngModel" [(ngModel)]="name">
<p [style.font-style]="nameInput3.invalid ? 'italic':'normal'">texto 1 2 3</p>
<hr>
<hr>

<h1>ngswitch</h1>
<input type="text" required [(ngModel)]="name">
<div [ngSwitch]="name">
  <p *ngSwitchCase="'j'"> hola</p>
  <p *ngSwitchCase="'b'"> hola 1</p>
  <p *ngSwitchCase="'c'"> hola 2</p>
  <p *ngSwitchDefault="">No</p>

</div>

<h1>ngFor objs</h1>
<div class="products--grid">
  <div *ngFor="let product of products">
    <img [src]="product.image" alt="img">
    <h2>{{product.price}}</h2>
    <p>{{product.name}}</p>
  </div>
</div>

<h1>ngFor</h1>
<button (click)="addName()">Add name</button>
<input type="text" required [(ngModel)]="newName">
<ul>
  <li *ngIf="names.length === 0">No hay nombres</li>
  <li *ngFor="let name of names; index as i">{{i}} : {{name}} <button (click)="deleteB(i)">Delete</button></li>
</ul>

<h1>ngIf</h1>
<p>Nombre {{name}}</p>
<input type="text" required [(ngModel)]="name">

<p *ngIf="name =='jonathan'">my content</p>

<h1>NgModel</h1>
<p>Nombre {{name}}</p>
<input type="text" required #nameInput="ngModel" [(ngModel)]="name">
<p>Valid: {{nameInput.valid}}</p>


<input type="number" max="60" min="18" required #ageInput="ngModel" [(ngModel)]="age">
<p>Valid: {{ageInput.valid}}</p>


<h1>eventos</h1>
<button [disabled]="btnDisabled">enviar</button>
<button (click)="toggleButton()">Toggle button</button>
<p>edad {{age}}</p>
<button (click)="increaseAge()">age button</button>
<div class="box" (scroll)="onScroll($event)">
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut dolores adipisci tempore, maiores deleniti molestiae cum ab voluptas doloribus consequuntur placeat quas omnis aut consequatur aspernatur, quos culpa eius. Adipisci.</p>

</div>
<hr>
<h1>propiedades</h1>
<button [disabled]="btnDisabled">enviar</button>
<progress max="100" [value]="age"></progress>

<hr/>
<h2>hola soy {{name}}, y tengo {{age}} años</h2>

